In [ ]:
#Exploratory Data Analysis

In [45]:
import pandas as pd
import os.path
from os import path
import os
import numpy as np
import pandas as pd
import requests
from pathlib import Path
import matplotlib.pyplot as plt
import glob
import seaborn as sns
import datetime

if path.exists('./raw_data.csv'):
    data = pd.read_csv('./raw_data.csv')
    display(data)
    print (data.size)

,site,battery_power,site_power,solar_power,date
0,134a3fa6,9.50,3877.64,7.64,2021-07-01 03:46:57+00:00
1,8d9fed87,661.00,-10.45,0.00,2021-07-01 03:46:57+00:00
2,5688ed10,0.00,265.71,6.01,2021-07-01 03:46:58+00:00
3,2b33a48d,NaN,NaN,NaN,2021-07-01 03:46:58+00:00
4,07333ad0,-9.67,227.67,-5.79,2021-07-01 03:46:59+00:00
...,...,...,...,...,...
415,eec02ec5,426.00,-0.43,-4.86,2021-07-01 03:58:54+00:00
416,90791ae9,NaN,NaN,NaN,2021-07-01 03:58:54+00:00
417,49b6c0dd,9.17,1031.75,2.00,2021-07-01 03:58:55+00:00
418,d0926969,NaN,3321.49,7.88,2021-07-01 03:58:55+00:00
419,7435e9d3,570.00,-4.65,4.21,2021-07-01 03:58:55+00:00

2100

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   site           252 non-null    object
 1   battery_power  204 non-null    float64
 2   site_power     227 non-null    float64
 3   solar_power    227 non-null    float64
 4   date           252 non-null    object
dtypes: float64(3), object(2)
memory usage: 10.0+ KB

In [34]:
data.shape

(252, 5)

In [37]:
data.head()

       site  battery_power  site_power  solar_power                       date
0  134a3fa6           9.50     3877.64         7.64  2021-07-01 03:46:57+00:00
1  8d9fed87         661.00      -10.45         0.00  2021-07-01 03:46:57+00:00
2  5688ed10           0.00      265.71         6.01  2021-07-01 03:46:58+00:00
3  2b33a48d            NaN         NaN          NaN  2021-07-01 03:46:58+00:00
4  07333ad0          -9.67      227.67        -5.79  2021-07-01 03:46:59+00:00

In [46]:
data.tail()

,site,battery_power,site_power,solar_power,date
415,eec02ec5,426.00,-0.43,-4.86,2021-07-01 03:58:54+00:00
416,90791ae9,NaN,NaN,NaN,2021-07-01 03:58:54+00:00
417,49b6c0dd,9.17,1031.75,2.00,2021-07-01 03:58:55+00:00
418,d0926969,NaN,3321.49,7.88,2021-07-01 03:58:55+00:00
419,7435e9d3,570.00,-4.65,4.21,2021-07-01 03:58:55+00:00

In [41]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
battery_power,238.0,550.081387,1053.147747,-2600.00,-1.67,1.25,915.7525,4357.33
site_power,265.0,1070.842830,1513.944668,-84.56,3.58,555.61,1382.0300,10160.36
solar_power,265.0,-8.891358,73.829324,-533.94,-2.09,2.03,7.1100,21.99